/* Carousel */
#carousel-front-slides{
    #outer-slide{
        filter: blur(4px);
    }

    #inner-slide{
        top: 15%;
        bottom: 15%;
    }
}

/* Front info section */
#section-info{
    background-image: url('./../images/tile.jpg');
    background-repeat: repeat;
}

@include mediaSm{
    #carousel-front-slides{
        .carousel-item{
            height: 60vh;

            #outer-slide{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}